<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title th:text="${titulo}"></title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet"
	th:href="@{/bootstrapHome/bower_components/bootstrap/dist/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/bootstrapHome/bower_components/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet"
	th:href="@{/bootstrapHome/bower_components/Ionicons/css/ionicons.min.css}">
<link rel="stylesheet" href="cssPry/Style.css"
	th:href="@{/cssPry/Style.css}">
<link rel="stylesheet"
	th:href="@{/bootstrapHome/dist/css/skins/_all-skins.min.css}">
<link rel="stylesheet"
	th:href="@{/bootstrapHome/bower_components/morris.js/morris.css}">
<link rel="stylesheet"
	th:href="@{/bootstrapHome/bower_components/jvectormap/jquery-jvectormap.css}">
<link rel="stylesheet"
	th:href="@{/bootstrapHome/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}">
<link rel="stylesheet"
	th:href="@{/bootstrapHome/bower_components/bootstrap-daterangepicker/daterangepicker.css}">
<link rel="stylesheet"
	th:href="@{/bootstrapHome/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css}">
<script type="text/javascript"
	src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script type="text/javascript"
	src="http://code.jquery.com/jquery-1.6.2.min.js"></script>


</head>
<body>

	<div class="content-wrapper">
		<h3>Realizar Solicitud de venta</h3>
		<section class="content pb-5 pl-5">
			<br>
			<br>

			<div class="row">
				<div class="col-md-12">
					<div class="box box-secondary">
						<div class="box-body pad table-responsive">

							<div class="input-group margin">

								<input class="form-control responsive" disabled
									style="width: 270px"
									th:placeholder="${#authentication.getPrincipal().getUsername()}">
								<input type="hidden" disabled th:id="codigoCliente" /> <br>
								<div class="input-group-btn"></div>

							</div>
							<br> <br>
							<div class="input-group margin">
								<div class="input-group-btn">
									<button type="button" class="btn btn-success"
										data-toggle="modal" data-target="#modal-default-platillo">Buscar
										zapato</button>
								</div>
							</div>
							<br>
							<div class="box-body">
								<table class="table table-bordered table-striped"
									id="tablaDetallePlatoVenta">
									<thead class="thead-black">
										<tr>
											<th>N°</th>
											<th style="width: 600px">Zapato</th>
											<th>Precio</th>
											<th>Cantidad</th>
											<th>Sub Total</th>
											<th>Opciones</th>
										</tr>
									</thead>
									<tbody th:id="detalle"></tbody>
								</table>
							</div>

							<br>
							<div class="input-group margin ">
								<label class="pull-right col-md-1">TOTAL: </label>
								<div class="input-group-btn">
									<input placeholder="Total" class="form-control"
										style="width: 250px" disabled th:id="totalVenta">
								</div>

							</div>

							<div class="row-12">
								<button type="button" class="col btn btn-primary"
									onclick="window.print()">Descargar solicitud</button>
								<a href="https://walink.co/baaa41" target="_blank"><button
										class="btn btn-success">Enviar solicitud</button></a>
							</div>



							<div class="input-group margin ">
								<label class="pull-right col-md-1"> </label>
							</div>

							<br>
							<br>
							<br>
							<br>
							<br>

						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="modal-default-platillo">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="box">
								<div class="box-header">
									<h3 class="box-title">Lista de zapatos</h3>
									<p id="demo"></p>
								</div>

								<div class="box-body table-responsive no-padding">

									<br>
									<table class="table table-bordered table-striped"
										id="tablaPlatillo">
										<thead>
											<tr>
												<th></th>
												<th>ref</th>
												<th>Nombre</th>
												<th>Cantidad</th>
												<th>Precio</th>
												<th>Estado</th>

											</tr>
										</thead>

										<tbody>

											<tr th:each="platillo: ${platillos}"
												th:if="${platillo.estado == 'disponible'}">
												<td><input type="hidden" name="idplatillo" class="id"
													th:value="${platillo.id}"> <input type="hidden"
													name="nombre" class="nombre" th:value="${platillo.nombre}">
													<input type="hidden" name="precio" class="precio"
													th:value="${platillo.precio}"> <input type="radio"
													name="cantidad" class="cantidad"
													th:value="${platillo.cantidad}"></td>
												<td th:text="${platillo.id}"></td>
												<td th:text="${platillo.nombre}"></td>
												<td th:text="${platillo.cantidad}"></td>
												<td th:text="${platillo.precio}"></td>
												<td th:text="${platillo.estado}"></td>

											</tr>
										</tbody>

									</table>

									<br> <br>
									<div>
										<input type="number" class="form-control"
											placeholder="Cantidad" id="cantidadEnviar"> <input
											type="hidden" />
									</div>
								</div>

							</div>

						</div>
						<div class="modal-footer">
							<input type="submit" id="btnAgregarDatosPlatillo"
								class="btn btn-primary" value="Agregar" data-dismiss="modal" />

						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script type="text/javascript" th:src="@{/js/NuevoCompra.js}"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script
		th:src="@{/bootstrapHome/bower_components/jquery/dist/jquery.min.js}"></script>
	<script
		th:src="@{/bootstrapHome/bower_components/jquery-ui/jquery-ui.min.js}"></script>
	<script>
		$.widget.bridge('uibutton', $.ui.button);
	</script>
	<script
		th:src="@{/bootstrapHome/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
	<script th:src="@{/bootstrap/assets/js/bootbox.js}"></script>
	<script
		th:src="@{/bootstrapHome/bower_components/raphael/raphael.min.js}"></script>
	<script
		th:src="@{/bootstrapHome/bower_components/morris.js/morris.min.js}"></script>
	<script
		th:src="@{/bootstrapHome/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js}"></script>
	<script
		th:src="@{/bootstrapHome/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js}"></script>
	<script
		th:src="@{/bootstrapHome/plugins/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
	<script
		th:src="@{/bootstrapHome/bower_components/jquery-knob/dist/jquery.knob.min.js}"></script>
	<script
		th:src="@{/bootstrapHome/bower_components/moment/min/moment.min.js}"></script>
	<script
		th:src="@{/bootstrapHome/bower_components/bootstrap-daterangepicker/daterangepicker.js}"></script>
	<script
		th:src="@{/bootstrapHome/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
	<script
		th:src="@{/bootstrapHome/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js}"></script>
	<script
		th:src="@{/bootstrapHome/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
	<script
		th:src="@{/bootstrapHome/bower_components/fastclick/lib/fastclick.js}"></script>
	<script th:src="@{/bootstrapHome/dist/js/adminlte.min.js}"></script>
	<script th:src="@{/bootstrapHome/dist/js/pages/dashboard.js}"></script>
	<script th:src="@{/bootstrapHome/dist/js/demo.js}"></script>
</body>
</html>