<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../cssPry/carrito.css">
	<title>Carrito</title>
</head>
<body>
	<div class="container-fluid">
			

<div id="compra" class="col-12 text-center bg-dark text-dark"><h2>Realizar compra</h2></div>

 <div class="deseos">

<section class="row justify-content-between">


        <div class="col-sm-12 col-lg-4 pb-4">
        <div class="card text-center">
            <div class="card-header color21"><h2>REEBOK</h2></div>
            <img src="../img/Mujer/4.jpg">
            

<form action="">
  <div class="card-body">
        <div class="row">
        <div class="col-4">

        <select class="form-select border-info text-dark" aria-label="talla" required>
           <option selected>Tu talla</option>
           <option value="1">35</option>
           <option disabled value="2">37</option>
           <option value="3">40</option>
           <option value="4">45</option>
        </select>
        </div>

        <div class="col-4">
        <select class="form-select border-info text-dark" aria-label="cantidad" required>
           <option selected>Cantidad</option>
           <option value="1">1</option>
           <option value="2">2</option>
           <option disabled value="3">3</option>
           <option disabled value="4">4</option>
           <option disabled value="5">5</option>
        </select>
        </div>

        <div class="col-4">
        <select class="form-select border-info text-dark" aria-label="color" required>
           <option selected>Color</option>
           <option value="1">Amarillo</option>
           <option disabled value="2">Gris</option>
           <option value="3">Rojo</option>
           <option value="4">Negro</option>
           <option value="5">Blanco</option>
        </select>
        
        </div> 
          </div>

    <div class="row p-3">
  <a class="card-link mb-2 col-12 btn btn-success" data-toggle="modal" data-target="#agenda">Comprar</a>
    </div>

  </div>
  </form>
 
    <div class="card-footer border-info">
    <h3><strong>$60.000 c/u</strong></h3></div>

</div>
</div>


<div id="info" class="col-lg-8 col-sm-12 text-center mb-2 bg-light"><h1>Descripción de producto</h1>
<p class="jumbotron color15 m-5 border border-info">Zapatillas color blanco marca Reebok</p>
<p class="jumbotron color15 m-5 border border-info">Material cuero blanco, cosidos a mano</p>
<p class="jumbotron color15 m-5 border border-info">
  <img id="planchar" src="../img/1.png">
  <img id="mano" src="../img/2.png">
  <img id="cloro" src="../img/3.png">
</p>
</div>

</section>
</div>
      


<article class="col-12">  
<footer class="p-5 text-center text-white">Direccion - Cll24A#24G46 - Correo: Didi2124@Gmail.com - Telefono: 3144859450 Diego Sneider Diaz Roa  - Arley Sebastian Castillo</footer>
</article></div>
    	

<div class="modal fade" id="agenda">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--Encabezado -->
      <div class="modal-header">
        <h4>Advertencia</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!--Contenido -body- -->
      <div class="modal-body">
        <p>¡Alto! Primero tienes que iniciar sesión</p>
      </div>
      <!--Pie modal -footer- -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        <a href="ingresar.html" type="button" class="btn btn-success">Ingresar</a>
      </div>
    </div>
  </div>
</div>


	<script src="js/jquery-3.5.1.slim.min.js"></script>
	<script src="css/bootstrap.bundle.min.js"></script>
	<script src="js/popper.min.js"></script>
</body>
</html>