<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Consultar cuenta</title>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/all.css">
  <link rel="stylesheet" href="../cssPry/ingresar.css">
</head>
<body>  

<div class="container-fluid">
<div class="card mb-3" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-lg-3">
      <img src="../Admin/img/2.jpg" class="img-fluid">
    </div>
    <div class="col-lg-9">
      <div class="card-body">
        <h5 class="card-title">Elizabeth Castiblanco</h5>
        <p class="card-text">

          <table class="table">
            <thead class="table-warning">
            <tr>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Genero</th>
            <th scope="col">No.Cédula</th>
            <th scope="col">Rol</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>1997-05-12</td>
            <td>Femenino</td>
            <td>5841263</td>
            <td>Cliente</td>
            </tr>
            </table>

          <table class="table">
            <thead class="table-danger">
            <tr>
            <th scope="col">Teléfono</th>
            <th scope="col">Dirección</th>
            <th scope="col">Correo</th>
            <th scope="col">Compras</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>314965842</td>
            <td>Cr 7 100-2d</td>
            <td>elizabethcas@gmail.com</td>
            <td><a href="/consultarpedido">Consultar</a></td>
            </tr>
            </table>

            </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>


</div>


  <script type="text/javascript" src="../js/jquery-3.5.1.slim.min.js"></script>
  <script type="text/javascript" src="../css/bootstrap.bundle.min.js" ></script>
  <script src="../js/popper.min.js"></script>
</body>
</html>