<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="Cliente/cssPry/dashboard_cliente.css">
<link rel="stylesheet" href="../css/all.css">
<title>Cliente</title>
</head>
<body>

	<div class="container-fluid bg-light">

		<div class="row">
			<div class="col">
				<nav class="navbar navbar-expand-sm color3 navbar-dark">
					<img src="../img/logoo.png" style="width: 8%"> <a
						href="/principalCliente" target="principal"
						class="navbar-brand pl-4"><h3>
							<span sec:authentication="name"></span>
						</h3>
						<span sec:authentication="principal.authorities"></span></a>
					<button type="button" class="navbar-toggler" data-toggle="collapse"
						data-target="#menu">
						<span class="navbar-toggler-icon"></span>
					</button>


					<div class="collapse navbar-collapse justify-content-end" id="menu">
						<ul class="navbar-nav">



							<li class="nav-item"><a href="/inicio"
								class="signIn nav-link"><i>Inicio</i></a></li>
							<form th:action="@{/logout}" method="post">
								<button class="signIn nav-link text-dark fas fa-sign-in-alt"
									type="submit"></button>
							</form>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!--Fila barra lateral y contenido -->
		<div class="row text-light">
			<div class="col-sm-2 col-lg-2">

				<nav id="menu"
					class="d-md-block collapse color3 navbar-dark text-white pl-4">

					<!-- <div class="navTitulo">
        <h1>Gestionar Cuenta</h1>
        </div>

        <ul class="navbar-nav">
            
            <li><a href="#" class="nav-link" data-toggle="modal" data-target="#modificar"><i class="fas fa-user-plus"></i>Modificar cuenta</a></li>
            <li class="nav-item"><a href="/ConsultarCuentaCliente" target="principal" class="nav-link"><i class="fas fa-search"></i></i>Consultar cuenta</a></li>
            <li class="nav-item"><a href="/cambiarContraseña" target="principal" class="nav-link"><i class="fas fa-key"></i>Cambiar contraseña</a></li>
           

        </ul>

		<div class="navTitulo">
		<h1>Gestionar Pedidos y envios</h1>
		</div>

		<ul class="navbar-nav">
			
			<li class="nav-item"><a href="/consultarpedido" target="principal" class="nav-link"><i class="fas fa-search"></i>Consultar  pedido</a></li>
            <li class="nav-item"><a href="/ConsultarEnvioCliente" target="principal" class="nav-link"><i class="fas fa-luggage-cart"></i></i></i>Consultar envío</a></li>
			
		
		</ul>-->

					<div class="navTitulo">
						<h1>Inventario</h1>
					</div>

					<ul class="navbar-nav">
						<li class="nav-item"><a href="/compra" target="principal"
							class="nav-link"><i class="fas fa-shopping-cart"></i>Realiza
								compra</a></li>
						<li class="nav-item"><a href="/catalogo" target="principal"
							class="nav-link"><i class="fas fa-book"></i>Ver Catálogo</a></li>
						<li class="nav-item"><a href="/GestionarProductos"
							target="principal" class="nav-link"><i class="fas fa-search"></i>Ver
								Inventario</a></li>
				
					</ul>

				</nav>
			</div>


			<!--contenido del centro --->
			<div class="col-lg-10">
				<div class="row mt-2">

					<main class="border"> <iframe src="/principalCliente"
						name="principal" frameborder="0"></iframe> </main>
				</div>
			</div>

		


		</div>
	</div>



	<script type="text/javascript" src="../js/jquery-3.5.1.slim.min.js"></script>
	<script type="text/javascript" src="../css/bootstrap.bundle.min.js"></script>
	<script src="../js/popper.min.js"></script>
</body>
</html>