<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
<title>Asignar rol</title>
<link rel="stylesheet" href="css/bootstrap.css"
	th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="cssPry/registrarProducto.css"
	th:href="@{/cssPry/registrarProducto.css}">

</head>
<body>

	<div class="col-sm-20 pt-4" sec:authorize="hasRole('ROLE_ADMIN')">
		<div class="modal-content pb-5">
			<div class="col-12 admin">
				<h1>Asignar rol</h1>
			</div>

			<form class="col-12" th:action="@{/rol}" th:object=${rr}
				method="POST" enctype="multipart/form-data">
				<div class="row pb-4">

					<div class="col-lg-12 col-sm-6">
						<div class="form-group" id="marca-group">
							<input class="form-control" placeholder="ID" name="id" required
								th:field="*{userId}">
						</div>
					</div>

	
					<div class="col-lg-12 col-sm-6">
						<select name="rol" required class="form-control"
							th:field="*{nombre}">
							<option value="">Seleccione el rol</option>
							<option value="ROLE_USER">USER</option>
							<option value="ROLE_ADMIN">ADMIN</option>
						</select>
					</div>


				</div>
				<div class="row">
					<div class="boton btn-block">
						<input class="registrate" type="submit" value="REGISTRAR" onclick="return confirm('Esta seguro de editar el rol?');">
					</div>
				</div>
			</form>

		</div>
	</div>

	<script type="text/javascript" src="js/jquery-3.5.1.slim.min.js"></script>
	<script type="text/javascript" src="css/bootstrap.bundle.min.js"></script>
	<script src="js/popper.min.js"></script>
</body>
</html>