<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css"  th:href ="@{css/bootstrap.css}">
    <link rel="stylesheet" href="Cliente/cssPry/dashboard_cliente.css"  th:href ="@{Cliente/cssPry/dashboard_cliente.css}">
    <link rel="stylesheet" href="css/all.css">
    <title>Cliente</title>
</head>
<body>

<div class="row">
		<div class="col lg-4 mb-2">

				
			</div>
			<div class="col-md-12">

				<div class="row">

					<div class="col-6">
						<div class="card  color16">
							<div class="card-header bg-success">
								<h5>Inventario</h5>
							</div>
							<div class="card-body">
								<p class="card-body text-dark">Funciones Modulo Inventario</p>
								<a href="/clienteInventario" target="principal" class="card-link" >Acceder</a>
							</div>
						</div>

					</div>
				

				
					<div class="col-6">
						<div class="card color2">
							<div class="card-header bg-warning">
								<h5>Pedidos y envíos</h5>
							</div>
							<div class="card-body">
							<p class="card-body text-dark">Funciones Modulo de ventas</p>
							<a href="/ClientePye" target="principal"
								class="card-link">Acceder</a>
						</div>
						</div>
					</div>
					</div>

					<!--
					<div class="row mt-4">
					<div class="col">
    				<div class="card color6">
    					
    				<div class="card-header bg-danger">
    					<h5>Administrar cuenta<span class="badge badge-light badge-pill" style="font-size: 9px;">nuevo</span></h5>
    				</div>
    				<div class="card-body">
    					<p class="card-body text-dark">Administra tu perfil</p>
    					<a href="/clienteGestion" target="principal" class="card-link" >Acceder</a>
    				
    			</div>
    		</div> -->
    		</div>
    	</div>
    </div>
    </div>

    

   

    <script type="text/javascript" src="../js/jquery-3.5.1.slim.min.js"></script>
    <script type="text/javascript" src="../css/bootstrap.bundle.min.js" ></script>
    <script src="../js/popper.min.js"></script>
</body>
</html>