
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../cssPry/404.css">
	<link rel="stylesheet" href="cssPry/registrarProducto.css" th:href ="@{/cssPry/registroNuevo.css}">
	<link rel="stylesheet" href="../css/bootstrap.css" >
	<link rel="stylesheet" href="../css/all.css" >
    </head>
    <body>
        <div class="contenedor">
		<div class="row pt-5">
			<div class="col-lg-12 col-sm-12">
				<h1>Se ha registrado satisfactoriamente!</h1>
			</div>
		</div>

<div class="row">
	<div class="col-lg-12 col-sm-12">
		<h2 class="animasted bounce">Felicidades!</h2>
	</div>
</div>
		<div class="row">
			<div class="col-12 text-white">
				<p><h4>Recuerde que este paso puede tardar, nuestro administrador esta asignandole un rol*</h4></p><br>
		
			</div>
			<div class="col-12">
				<h4><a th:href="@{/login}">Clic para continuar</a></h4>
			</div>
		</div>
	</div>




	<script type="text/javascript" src="../js/jquery-3.5.1.slim.min.js"></script>
	<script type="text/javascript" src="../css/bootstrap.bundle.min.js" ></script>
	<script src="../js/popper.min.js"></script>
    </body>
</html>